$border-size: 1;
$border-size-with: $border-size * 2;
$title-padding-size: 8px;
$subgroup-detail: 210;
$subgroup-data: 200;
$subgroup-radio: 20;
$subgroup-checkbox: $subgroup-radio * 2;

.edid-content {
    float: right;
    height: 100%;
    width: 70%;

    .edid-content-data {
        text-align: center;
    }

    .edid-content-group {
        width: calc(#{$subgroup-data}px + #{$subgroup-detail}px + #{$border-size-with}px);
        border: #{$border-size}px solid $color-gray-middle;
    }

    .edid-content-title {
        padding: $title-padding-size;
        text-align: center;
        color: white;
        background-color: $color-gray-middle;
    }

    .subgroup-detail {
        width: #{$subgroup-detail}px;
        display: inline-block;
    }

    .subgroup-data {
        width: #{$subgroup-data}px;
        display: inline-block;
    }

    .subgroup-radio {
        width: #{$subgroup-radio}px;
        text-align: center;
        display: inline-block;
    }

    .subgroup-checkbox {
        width: #{$subgroup-checkbox}px;
        text-align: center;
        display: inline-block;
    }
}
