$cellwidth: 35;

.edid-raw {
    width: 40%;
    display: inline-block;
    vertical-align: top;

    .input-grid-line {
        margin-left: #{$cellwidth}px;
        margin-right: #{$cellwidth}px;
    }

    .input-grid {
        width: #{$cellwidth}px;
        color: black;
        text-align: center;

        &:hover {
            background-color: $color-gray-hover;
        }
    }

    .input-grid-selected {
        width: #{$cellwidth}px;
        color: white;
        text-align: center;
        background-color: #2a2a2a;
    }
}
